*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    align-self: center;

}

.text-color {
    color: #00699b;
}

.general {
    max-width: 1100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 8vw;
    background-color: #f0f0f0;
    height: 40px;

    a {
        text-decoration: none;
        font: 0.95em Helvetica;
    }

    a:visited {
        color: #00699b;
    }

    a:hover {
        text-decoration: underline;
    }

    div.login {
        visibility: hidden;
    }
}

.main-header {
    display: flex;
    flex-direction: column-reverse;
    li,a{
        color: #00699b;
        transition: color 650ms;
        :hover{
            color: black;
            cursor: pointer;
            
        }
    }
    .menu-list {
        display: flex;
        position: relative;
        
        .nav-list{
            li{
                line-height: 5rem;
            }
        }
        .menu-icons{
            font-size: 3rem;
            visibility: hidden;
            position: absolute;
            cursor: pointer;
            top: 5%;
            left: 2rem;
        }
        div {
            display: flex;
        }

        ul {
            list-style-type: none;
            display: flex;
            padding-left: 0px;

            li {
                padding: 0px 2vw;

            }

            .sale {
                color: white;
                background-color: red;
                padding: 4px 7px;
                border-radius: 15%;
            }
        }
        li:hover > .sub-menu{
            visibility: visible;
        }
        .sub-menu{
            ::before{
                content: "";
                position: absolute;
                top: -2.5rem;
                left: 3rem;
                border: 1.2rem solid transparent;

            }
            flex-wrap: wrap;
            top: 60px;
            border-left: 3px solid #00699b;
            display: flex;
            flex-direction: column;
            background-color: #f0f0f0;
            li{
                line-height: 4rem;
            }
            visibility: hidden;
            position: absolute;
        }
        .sub-menu .sub-menu{
           flex-wrap: nowrap;
            border-top: none;
            border-left: 3px solid #00699b;
            
            left: 100%;
        }
    }
    
}

.main-header-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 70px;
    }

    .search-box-class {
        border: 1px solid rgb(60, 124, 196);
    }

    .input-group-text:hover {
        color: white;
        background-color: darkslategray;
    }

    div {
        padding: 0 5px;
    }

    .icons {
        display: flex;

        div {
            display: flex;

            flex-direction: column;
            align-content: center;
            text-align: center;
        }

        p {
            font-size: 10px;
            margin-bottom: 0px !important;
        }

        span {
            font-size: .6rem;
            position: absolute;

            top: 1.5cm;
            width: 15px;
            height: 15px;
            color: #fff;
            background-color: #418deb;
            border-radius: 50%;

        }
    }

    .icon {
        color: black;
        margin: 10px 10px 0px 10px;
        font-size: 23px;
    }
}

.banners {
    img {
        margin: 5px;
    }

    .first-banner {
        img {
            width: 1100px;
        }
    }

    .second-banners {
        display: flex;
        flex-direction: row;

        img {
            width: 545px;
        }
    }

    .slides {
        width: 1100px;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }
}

@media screen and (max-width: 1100px) {
    .general {
        max-width: 850px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .banners {
        .first-banner img {
            width: 850px;
        }

        .second-banners img {
            width: 420px;
        }

        .slides {
            width: 850px;
        }
    }
}

@media screen and (max-width: 850px) {
    .general {
        max-width: 600px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .banners {
        .first-banner img {
            width: 600px;
        }

        .second-banners img {
            width: 295px;
        }

        .slides {
            width: 600px;
        }
    }
}

@media screen and (max-width: 600px) {
    .general {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .user-icon {
        position: absolute;
        visibility: hidden;
    }

    .top-header div.login {
        visibility: visible;
    }

    .banners {
        .first-banner img {
            width: 100%;
        }

        .second-banners {
            flex-direction: column;

            img {
                width: 100%;
            }
        }

        .slides {
            width: 100%;
        }
    }
}

@media screen and (max-width: 520px) {
    .search-box {
        background-color: red;
    }
}