*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    align-self: center;

}

.text-color {
    color: #00699b;
}
/*
/*Responsive Side Bar*/
.overlay {
    background:whitesmoke;
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    .menu{
        background-color:whitesmoke;
        margin: 100px auto;
        width: 100%;
        ul{
            margin: 0;
            padding: 0;
            width: 100%;
            ul {
                margin-top: 10px;
                position: relative;
                li {
                    float: none;
                    margin: 0;
                    width: 100%;
                    border: 0;
                }
            }
            li {
    
                padding: 6px 0 0 0;
                list-style: none;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 40px;
                display: inline-block;
                overflow: hidden;
                width: 100%;
                margin-top: 5rem;
                a {
                    font-weight: 300;
                    font-size: 20px;
                    font-family: 'Exo', sans-serif;
                }
                .sub {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    margin-top: 0;
                  }
                  ul li ul.sub.move {
                    transform: translateX(0%)!important;
                }  
            }
        }
    } 
}
.overlay .menu ul li ul {
  transform: translateX(0);
  transition: all 0.3s ease;
}
.overlay .menu ul li ul.move {
  transform: translateX(-100%);
}



/* **End of side-bar** */

.general {
    max-width: 1100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 15vw;
    background-color: #f0f0f0;
    height: 33px;

    a {
        text-decoration: none;
        font: 0.8em Helvetica;
    }

    a:visited {
        color: #00699b;
    }

    a:hover {
        text-decoration: underline;
    }

    div.login {
        visibility: hidden;
    }
}

.main-header {
    display: flex;
    flex-direction: column-reverse;

    li,
    a {
        color: #00699b;
        transition: color 650ms;

        li:hover {
            transform: scale(1.1);
            color: black;
            cursor: pointer;

        }
    }
/*Main Page nav-bar*/
    .menu-icons {
        font-size: 2.5rem;
        visibility: hidden;
        position: absolute;
        cursor: pointer;
        top: 5%;
        left: 2rem;
    }

    .menu-list {
        display: flex;
        position: relative;

    #nav-list {
            li {
                line-height: 5rem;
            }
        }

        div {
            display: flex;
        }

        ul {
            list-style-type: none;
            display: flex;
            padding-left: 0px;

            li {
                padding: 0px 2vw;

            }

            .sale {
                color: white;
                background-color: red;
                padding: 4px 7px;
                border-radius: 15%;
            }
        }

        li:hover>.sub-menu {
            visibility: visible;
        }

        .sub-menu {
            ::before {
                
                position: absolute;
                top: -2.5rem;
                left: 3rem;
                border: 1.2rem solid transparent;

            }

            flex-wrap: wrap;
            top: 60px;
            border-left: 3px solid #00699b;
            display: flex;
            flex-direction: column;
            background-color: #f0f0f0;

            li {
                line-height: 4rem;
            }

            visibility: hidden;
            position: absolute;
            .sub-menu {
            flex-wrap: nowrap;
            border-top: none;
            border-left: 3px solid #00699b;

            left: 100%;
        }
        }

        
    }

}

.main-header-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 70px;
    }

    .search-box-class {
        border: 1px solid rgb(60, 124, 196);
    }

    .input-group-text:hover {
        color: white;
        background-color: darkslategray;
    }

    div {
        padding: 0 5px;
    }

    .icons {
        display: flex;
        padding: 0;
        margin: 0;
        div {
            display: flex;

            flex-direction: column;
            align-content: center;
            text-align: center;
        }

        p {
            font-size: 10px;
            margin-bottom: 0px !important;
        }

        span {
            font-size: .6rem;
            position: absolute;

            top: 1.5cm;
            width: 15px;
            height: 15px;
            color: #fff;
            background-color: #418deb;
            border-radius: 50%;

        }
    }

    .icon {
        color: black;
        margin: 0;
        font-size: 23px;
    }
}

.banners {
    img {
        margin: 5px;
    }

    .first-banner {
        img {
            width: 1100px;
        }
    }

    .second-banners {
        display: flex;
        flex-direction: row;

        img {
            width: 545px;
        }
    }

    .slides {
        width: 1100px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }
}

@media screen and (max-width: 1100px) {
    .general {
        max-width: 850px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .banners {
        .first-banner img {
            width: 850px;
        }

        .second-banners img {
            width: 420px;
        }

        .slides {
            width: 850px;
        }
    }
}

@media screen and (max-width: 850px) {
    .general {
        max-width: 600px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .banners {
        .first-banner img {
            width: 600px;
        }

        .second-banners img {
            width: 295px;
        }

        .slides {
            width: 600px;
        }
    }
}

@media screen and (max-width: 600px) {
    
    .general {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .user-icon {
        position: absolute;
        visibility: hidden;
    }

    .top-header div.login {
        visibility: visible;
    }

    .banners {
        .first-banner img {
            width: 100%;
        }

        .second-banners {
            flex-direction: column;

            img {
                width: 100%;
            }
        }

        .slides {
            width: 100%;
        }
    }
}

@media screen and (max-width: 520px) {
    .menu-list >{
        visibility: hidden;
        position: absolute;
        height: 0;
    }   
    .search-box {
        margin: 10px;
    }
    .side-bar{
        display: block;
    }
    

    .main-header-top {
        flex-wrap: wrap;
        :nth-child(3) {
            order: 4;
        }

        .menu-icons {
            position: relative;
            left: 5px;
            .fa-bars{
               visibility: visible; 
            }
            
            
        }
    }
}