body{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 11vw;
    background-color:rgb(240, 240, 240);
    height: 40px;
    color: rgb(60, 124, 196);
    a{
        text-decoration: none;
        font:0.95em Helvetica ;
    }
    a:visited {
        color: rgb(60, 124, 196);
      }
    a:hover{
        
        text-decoration: underline;
    }
}
