body {
  margin: 0px;
  padding: 0px;
  align-self: center;
}
.text-color {
  color: #00699b;
}
.general {
  max-width: 1100px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 8vw;
  background-color: #f0f0f0;
  height: 40px;
}
.top-header a {
  text-decoration: none;
  font: 0.95em Helvetica;
}
.top-header a:visited {
  color: #00699b;
}
.top-header a:hover {
  text-decoration: underline;
}
.top-header div.login {
  visibility: hidden;
}
.main-header {
  display: flex;
  flex-direction: column-reverse;
}
.main-header .menu-list {
  display: flex;
}
.main-header .menu-list div {
  display: flex;
}
.main-header .menu-list ul {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}
.main-header .menu-list ul li {
  padding: 0px 20px;
}
.main-header .menu-list ul .sale {
  color: red;
}
.main-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header-top img {
  height: 70px;
}
.main-header-top .search-box-class {
  border: 1px solid #3c7cc4;
}
.main-header-top .input-group-text:hover {
  color: white;
  background-color: darkslategray;
}
.main-header-top div {
  padding: 0 5px;
}
.main-header-top .icons {
  display: flex;
}
.main-header-top .icons div {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.main-header-top .icons p {
  font-size: 10px;
  margin-bottom: 0px !important;
}
.main-header-top .icons span {
  font-size: 0.6rem;
  position: absolute;
  top: 1.5cm;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}
.main-header-top .icon {
  color: black;
  margin: 10px 10px 0px 10px;
  font-size: 23px;
}
.banners .first-banner img {
  width: 1100px;
}
.banners .second-banners {
  display: flex;
  flex-direction: row ;
}
.banners .second-banners img {
  width: 550px;
}
@media screen and (max-width: 1100px) {
  .general {
    max-width: 850px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .banners .first-banner img {
    width: 850px;
  }
  .banners .second-banners img {
    width: 425px;
  }
}
@media screen and (max-width: 850px) {
  .general {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .banners .first-banner img {
    width: 600px;
  }
  .banners .second-banners img {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .user-icon {
    position: absolute;
    visibility: hidden;
  }
  .top-header div.login {
    visibility: visible;
  }
}
